.label, .value {
  font-size: 12px;
  padding: 5px 0;
  height: 100%;
}
.label {
  margin-left: 45px;
  text-align: left;
}
.value {
  font-weight: 600;
  background-color: lightblue;
  border-radius: 5px;
}